/* Tabs */
.tabs {
    width: 600px;
    background-color: #09F;
    border-radius: 5px 5px 5px 5px;
  }
  ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
  }
  ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
  }
  ul#tabs-nav li:hover,
  ul#tabs-nav li.active {
    background-color: #08E;
  }
  #tabs-nav li a {
    text-decoration: none;
    color: #FFF;
  }
  .tab-content {
    padding: 10px;
    border: 5px solid #09F;
    background-color: #FFF;
    height: 700px;
  }
  
  html {
    margin: 0;
    padding: 0;
  }
  body { 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin: 2em;
  }

 #dockerific h3 {
  margin-top: 0;
  padding-top: 0;
 }

 #dockerific h2 {
  margin-top: 0;
  padding-top: 0;
 }

  .dockerify-prop-value, .dockerify-prop-list-value {
    font-family: monospace;
    white-space: pre;
  }

  .dockerify-prop {
    display: grid;
    grid-template-columns: 100px 100px 300px;
  }

  .dockerify-prop, .dockerify-prop div, .dockerify-prop h3 {
    margin: 0;
  }

  .dockerify-prop-type {
    text-align: right;
    padding-right: 8px;
  }

  .dockerify-props {
    display: grid;
  }

  .dockerific-action {
    display: grid;
    grid-template-columns: 40px 100px 500px;
    margin: 2px;
    padding: 4px;
    background-color: azure;
    border-radius: 6px 6px 6px 6px;
  }

  .dockerific-actions {
    display: grid;
  }

  .prop-string {
    background-color: rgba(0,0,0,0.15);
    width: 490px;
    height: 16px;
  }

  .prop-string-big {
    background-color: rgba(0,0,0,0.15);
    width: 490px;
    height: 150px;
  }

  .action-env {
    background-color: lightblue;
  }

  .action-arg {
    background-color: rgb(137, 130, 197);
  }

  .action-apt {
    background-color: rgb(89, 192, 144);
  }
  .action-run {
    background-color: salmon
  }
  .action-git {
    background-color: cyan;
  }
  .action-append {
    background-color: green;
  }
  .action-put {
    background-color: yellow;
  }
  .action-copy {
    background-color: teal
  }
  .action-workdir {
    background-color: orange;
  }
  .action-bash {
    background-color: magenta;
  }
  
  